html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  margin-top: 0;
  font-weight: normal;
  margin-top: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

form {
  padding: 0;
  margin: 0; }

input[type="text"]:focus {
  outline: 0;
  border: none; }

input[type="text"]:active {
  outline: 0;
  border: none; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: 14px;
  color: #333;
  background-color: #fff; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.group:after, .contain:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-21by9::before {
  padding-top: 42.857143%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.swiper-button-disabled {
  opacity: 0 !important; }

.swiper-button:focus {
  outline: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

button {
  border: none;
  outline: none; }

textarea:hover, textarea:active, textarea:focus {
  outline: none; }

body {
  font-weight: 400;
  color: #000;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  position: relative;
  min-height: 100vh; }
  body.ohi {
    overflow: hidden; }

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.main {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.contain {
  max-width: 1268px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.hadvant__text strong {
  display: block;
  font-weight: 700; }

.head {
  padding-top: 17px;
  padding-bottom: 19px; }

.head__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.head__logo {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 38px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.head__logo-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  color: #7b6858; }

.head__burger {
  background: url("../img/burger.svg") left 21px center no-repeat #7b6858;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 14px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  padding-left: 53px;
  padding-right: 20px;
  margin-left: 3px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.head__burger-text {
  font-size: 14px;
  color: white; }

.head__btn {
  border: 0.5px solid rgba(165, 165, 165, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 14px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 28px;
  margin-right: 34px;
  height: 44px;
  font-size: 14px;
  color: #647081;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/roulette.svg");
  background-repeat: no-repeat;
  background-position: left 26px center;
  padding-left: 57px;
  padding-right: 21px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.head__ask {
  font-size: 14px;
  color: #8d98a8;
  background-image: url("../img/ask.svg");
  background-repeat: no-repeat;
  background-position: left center;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 44px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 28px;
  padding-right: 10px;
  margin-right: 30px; }

.w-row.redbord {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px; }

.head__socs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.head__soc {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 7px;
  margin-right: 7px; }

.head__mode {
  font-size: 13px;
  line-height: 1.2;
  color: #8d98a8;
  margin-left: 24px;
  margin-right: 29px; }

.head__mail {
  font-size: 13px;
  color: #8d98a8;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 28px; }

.head__info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 29px; }

.head__phone {
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #4b535e;
  display: block;
  margin-bottom: 5px;
  font-weight: 600; }

.head__call-back {
  font-size: 13px;
  color: #8d98a8;
  margin-left: 10px; }

.menu {
  background: #4B535E;
  padding-top: 18px;
  padding-bottom: 17px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.menu__wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.menu__burger {
  font-size: 12px;
  text-transform: uppercase;
  color: #fbfbfb;
  min-height: 15px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/burger-menu.svg");
  background-repeat: no-repeat;
  background-position: left 19px center;
  padding-left: 63px;
  padding-right: 19px; }

.menu__ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.menu__li {
  margin-left: 7px;
  margin-right: 7px; }

.menu__link {
  font-size: 12px;
  text-transform: uppercase;
  color: #fbfbfb; }

.hero {
  background: linear-gradient(#f2f5fa 0%, #edf5ff 100%);
  box-shadow: rgba(116, 159, 223, 0.15) 0px 6px 20px inset;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  min-height: 515px; }

.hero__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.hero__left {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.top__slide {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.topslide__content {
  width: 40%; }

.topslide__label {
  font-weight: 300;
  font-size: 10px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fbfbfb;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #849c82;
  border-radius: 0px 6px 0px 8px;
  height: 19px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 9px; }

.topslide__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #4b535e;
  margin-bottom: 12px; }

.topslide__desc {
  font-size: 15px;
  line-height: 1.2;
  color: #8f97a2;
  margin-bottom: 13px; }

.topslide__btn {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 24px;
  background-image: url("../img/btn-arr.svg");
  background-repeat: no-repeat;
  background-position: right center;
  font-size: 13px;
  line-height: 1.2;
  color: #4b535e; }

.topslide__img-w {
  width: 60%; }

.hero__right {
  width: 308px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.hadvant {
  height: 186px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: #7b6858;
  border-radius: 8px;
  padding-top: 48px;
  padding-left: 27px;
  position: relative; }
  .hadvant:not(:last-child) {
    margin-bottom: 9px; }

.hadvant--2 {
  background: #849C82; }

.hadvant__text {
  display: block;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fbfbfb;
  padding-right: 0px;
  margin-right: 174px; }

.hadvant__img {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: absolute;
  top: 0;
  right: -70px; }

.advants {
  border-top: 1px solid #d5d1d1;
  margin-top: 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 19px;
  padding-bottom: 22px; }

.advants__it {
  width: 20%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px; }

.advants__img-w {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 52px;
  margin-right: 17px; }

.advants__text {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 15px;
  line-height: 1.2;
  color: #6d798a; }

.mcatalog {
  padding-top: 33px; }

.h2 {
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #4b535e; }

.mcatalog__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px; }

.mcatalog__col {
  width: 33.3333%;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 37px; }

.mcatalog__item {
  height: 289px;
  box-shadow: rgba(94, 84, 98, 0.3) 0px 4px 4px inset;
  border-radius: 8px;
  position: relative;
  overflow: hidden; }

.mcatalog__img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.mcatalog__title {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #65564a;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  height: 57px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: white; }

@media only screen and (max-width: 1199px) {
  .contain {
    max-width: 970px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .contain {
    max-width: 750px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .contain {
    max-width: 600px; } }

@media only screen and (max-width: 640px) {
  .contain {
    max-width: 530px; } }

@media only screen and (max-width: 570px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

@media only screen and (min-width: 1080px) {
  .main-mnu {
    display: block !important; }
  .hidden-mnu {
    display: none; } }
